<section class="app-section">
  <app-header class="app-header"></app-header>
  <div class="app-main">
    <aside class="app-sidebar">
      <div class="sidebar-header">
        <input class="sidebar-search" placeholder="Search notes">
        <div class="bar"></div>
        <button class="btn-add">add</button>
      </div>
      <nav>
        <app-note-list></app-note-list>
      </nav>
    </aside>
    <main class="app-viewer">
      <app-note-viewer></app-note-viewer>
    </main>
  </div>
</section>
