$color-primary: #d8185b;
$color-secondary: #6dc3b2;

$header-background: #eaecf0;
$header-background-hover: #fff;
$header-text: #151515;

$border-gray: #ccc;
$border-gray-light: #dadada;

$auth-box-background: #fff;
$auth-btn-fb-background: #3c5a99;
